
@font-face {font-family: "iconfont";
  src: url('../../fonts/iconfont.eot?t=1492502868781'); /* IE9*/
  src: url('../../fonts/iconfont.eot?t=1492502868781#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/iconfont.woff?t=1492502868781') format('woff'), /* chrome, firefox */
  url('../../fonts/iconfont.ttf?t=1492502868781') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../fonts/iconfont.svg?t=1492502868781#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before { content: "\e60f"; }

.icon-close:before { content: "\e61f"; }

.icon-music:before { content: "\e649"; }

